body {
    margin: 20px;
    padding: 50px;
    font-family: "Josefin Slab", serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 22px;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #466043;
    padding: 10px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo1 {
    float: left;
    width: 300px;
    padding: 10px 0;
}

.josefin-slab {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}

nav a {
    color: #466043;
    text-decoration: none;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: burlywood;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

nav a:hover {
    color: burlywood !important;
}

.text-section {
    text-align: center;
    font-family: "Josefin Slab", serif !important;
    color: #466043;
    background-image: url('assets/images/backgroundimage-medium.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: space-between;
}

.img-small1 {
    width: 400px;
    height: 267px;
    margin-right: 60px;
    padding: 10px;
    justify-content: space-between;
}

.img-small2 {
    width: 400px;
    height: auto;
    margin-right: 60px;
    padding: 10px;
    justify-content: space-between;
}

.img-small3 {
    width: 400px;
    height: auto;
    margin-right: 60px;
}

.locations {
    text-align: center;
    color:#466043;
    font-family: "Josefin Slab", serif !important;
    font-size: 28px;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    color: rgb(40, 128, 40);
    text-align: left;
    text-transform: uppercase;
}


.h2 {
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DBFAD7;
    flex: 1 0 auto;
    font-family: "Josefin Slab", serif !important;
    
}

footer {
    width: 100%;
    display: flex;
    background-color: #DBFAD7;
}

.social-icons {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 10px;
    padding: 20px;
}

.backgroundimage {
    position: relative;
    z-index: 1;
}