body {
    margin: 0;
    font-family: 'Caveat', cursive;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #DBFAD7;
    font-size: 30px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px
}

header::after {
    content: '';
    display: table;
    clear: both;
}


.logo {
    float: left;
    width: 300px;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #466043;
    text-decoration: none;
    text-transform: uppercase;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: burlywood;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

nav a:hover {
    color: burlywood;
}

.container {
    width: 97%;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    color: burlywood;
}

.h2 {
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DBFAD7;
    flex: 1 0 auto;
    font-family: 'Caveat', cursive;

}

p {
    color: green;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.text-section {
    padding: 20px;
    padding-top: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-small1 {
    width: 300px;
    height: auto;
    margin-right: 20px;

}

.img-small2 {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.img-small3 {
    width: 300px;
    height: auto;

}

.img-small:not(:last-child) {
    margin-right: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between;

}

footer {
    width: 100%;
    display: flex;
    background-color: yellow;

}

footer ul {}