body {
    background-image: url('/assets/images/hero-image.jpg');
    background-size: cover;
    background-color: rgba(216, 250, 215, 0.1);
    margin: 20px;
    padding: 50px;
    font-family: "Josefin Slab", serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 22px;

}

header {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    color: #466043;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2);

}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo3 {
    margin-right: 10px;
    width: 300px;
    padding: 10px 0;
    position: top;
}

.josefin-slab {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav {
    text-align: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}

nav a {
    color: #466043;
    text-decoration: none;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    background-color: #A0522D;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

nav a:hover {
    color: #A0522D!important;
}

.card {
    background-color: rgba(216, 250, 215, 0.6);
}

.card-title {
    text-align: center;
    color: #466043;
}

.card-text {
    text-align: center;
    font-size: 18px;
    color: #466043;
}

.subheading {
    text-align: center;
    color: #466043;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}

.container img {
    max-width: 100% !important;
    height: auto !important;
}

#img-small1,
#img-small2,
#img-small3 {
    max-width: 100% !important;
    margin-right: 30px !important;
    padding: 10px;
    justify-content: space-between;
    display: grid;
}

#img-small1 img,
#img-small2 img,
#img-small3 img {
    height: auto !important;
}


@media screen and (max-width: 768px) {

    #img-small1 img,
    #img-small2 img,
    #img-small3 img {
        width: 100% !important;
    }
}

.locations {
    text-align: center !important;
    color: #466043;
    font-family: "Josefin Slab", serif !important;
    font-size: 20px;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    color: rgb(40, 128, 40);
    text-align: left;
    text-transform: uppercase;
}


.h2 {
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 250, 215, 0.3);
    flex: 1 0 auto;
    font-family: "Josefin Slab", serif !important;

}

footer {
    width: 100%;
    display: inline-flex;
    background-color: rgba(216, 250, 215, 0.6);
    color: #466043;
}

.social-icons {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.social-icons li {
    margin-right: 10px;
    list-style: none;
}

.social-icons a {
    color: #6495ED;
}

.follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.container-fluid {
    margin: 10px;
    padding: 20px;
}

#address {
    text-align: center;
}

#email {
    text-align: center;
}

.backgroundimage {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
}

.blockquote {
    color:#466043;
}

